/* HEADER */

.header {
    width: 100%;
    height: 90px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%,rgb(37, 37, 37) 100%);

    position: fixed;
    top: 0;
    z-index: 10;

    font-family: "Poppins", arial;
    font-size: 24px;
    text-align: center;
    animation: headerTextDown .2s forwards;
}

.icon {
    padding-left: 17%;
    background: url("../img/iconOld.png") no-repeat center;
    position: absolute;
    width: 140px;
    height: 165px;
    
    animation: headerDown .2s forwards;
}

.header li {
    margin-right: 30px;
}

.header a{
    letter-spacing: .2em;
    padding-bottom: 15px;
    color: #fff;
}

.header a:hover{
	border-bottom: 3px solid #37A8EE;
    color: #37A8EE;
}

.headerOpcoes {
    display: flex;
    align-items: row;
    justify-content: flex-end;
    padding-right: 10%;
    margin: 15px 20px;
}

.js-header.ativo{
    animation: headerTextUp .8s forwards;
}

.js-header.ativo .icon{
    animation: headerUp .9s forwards;
}


@keyframes headerUp {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(0, -30px, 0);
    }
  }

@keyframes headerDown {
    from {
      transform: translate3d(0, -30px, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }



@keyframes headerTextUp {
    0% {
      font-size: 24px;
    }
    100% {
      font-size: 18px;
    }
}

@keyframes headerTextDown {
    0% {
      font-size: 18px;
    }
    100% {
      font-size: 24px;
    }
}

/* HEADER */
