.experience-section {
    background: #252525;
    display: flex;
    justify-content: center;
}

.exp-container {
    padding: 5rem;
    display: flex;
    width: 80%;
}

.exp-icon {
    width: 6rem;
    border-radius: 1rem;
}