.experience-section {
    background: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exp-container {
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.exp-icon {
    width: 100%;
    border-radius: 1rem;
}