.inicio {
    background: #000;
    background: url("../../../assets/default-background.jpg") no-repeat center;

    background-size: cover;
    background-position: 100% 70%;
    width: 100%;
    height: 100vh; 
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
 
.AndreLevi {
    
}

.tresLinhas {
    padding-bottom: 15px;
    display: flex;
    align-items: row;
    justify-content: flex-start;
}


.linha1 {
    padding-right: 10px;

}

.linha2 {
    padding-right: 10px;
}

.linha1:after {
    display: block;
    content: "";
    background: #37A8EE;
    height: 5px;
    width: 145px;
}

.linha2:after {
    display: block;
    content: "";
    background: #37A8EE;
    height: 5px;
    width: 50px;
}

.linha3:after {
    display: block;
    content: "";
    background: #37A8EE;
    height: 5px;
    width: 10px;
}

@media (max-width: 767px) {
    .inicio {
        height: 75vh; 
    }
  }