.contact-container {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgba(37, 37, 37, 0.8);

    padding: 7rem;
    margin: 11rem;
}

.contact-container p {
    padding: 1rem;
}

.contact-section {
    background-image: url("../../../assets/default-background.jpg");

    background-size: cover;
    background-position: 100% 70%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}