.fade-in {
    height: 20rem;
    width: 100%;
    background-image: linear-gradient(to top, rgba(37, 37, 37, 1), rgba(37, 37, 37, 0.8), rgba(37, 37, 37, 0.8), rgba(37, 37, 37, 0));
}

.fade-out {
    height: 20rem;
    width: 100%;
    background-image: linear-gradient(to top, rgba(37, 37, 37, 0), rgba(37, 37, 37, 0.8), rgba(37, 37, 37, 0.8), rgba(37, 37, 37, 1));
}

.tech-icon {
    width: 5rem;
}