/* SOBRE */

.sobre {
    background: url("../img/fundo2.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 1473px;
}

.imagem {
    background: url("../img/foto1.png");
    
    width: 400px;
    max-width: 100%;
    height: 350px;
    /*padding: 174px 0 174px 180px;*/

}

.textBox {
    width: 528px;
    height: 360px;
    padding: 40px 42px 0 0;
}

.textBox p {
    padding-top: 12px;
}

.textBox:nth-child(1) {
    padding: 40px 0 0 42px;
}

.info {

    height: 700px;
    width: 78%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 11%;
    padding-right: 11%;
}

.js js-scroll.ativo{
    border: 3px solid black;
}

.sobre .tresLinhas{
    height:5px;
    display: flex;
    align-items: row;
    justify-content: center;
    position: absolute;
    left: 11%;
    right: 11%;
}

.sobre .linha1:after {
    display: block;
    content: "";
    background: #fff;
    height: 5px;
    width: 1000px;
}

.sobre .linha2:after {
    display: block;
    content: "";
    background: #fff;
    height: 5px;
    width: 70px;
}

.sobre .linha3:after {
    display: block;
    content: "";
    background: #fff;
    height: 5px;
    width: 200px;
}

/* SOBRE */

/* SOBRE - QUALIDADES */

.habilidades {
    width: 100%;
    height: 1032px;
    background: #000B33;
}

.lista h1{
    font-size: 18px;
    font-family: "Poppins", arial;
    color: #fff;
    text-align: left;
    line-height: 25px;
    font-weight: bold;
}

.tituloDiv {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloDiv .titulo:after {
    display: none;
}

.lista {
    background: url("../img/quali.png") no-repeat center;
    margin: 120px auto;
    height: 600px;
    width: 800px;
    
    border: 2px solid #000B33;
}

.boxy {
    margin: 70px 0 0 20px;
    width: 350px;
    height: 150px;
}

.boxy:nth-child(2) {
    margin: -30px 0 0 420px;
}

.boxy:nth-child(3) {
    margin: -10px 0 0 20px;
}

.tituloDiv .tresLinhas{
    height: 5px;
    display: flex;
    align-items: row;
    justify-content: center;
}

.tituloDiv .linha1:after {
    display: block;
    content: "";
    background: #37A8EE;
    height: 5px;
    width: 40px;
}

.tituloDiv .linha2:after {
    display: block;
    content: "";
    background: #37A8EE;
    height: 5px;
    width: 200px;
}

.tituloDiv .linha3:after {
    display: block;
    content: "";
    background: #37A8EE;
    height: 5px;
    width: 40px;
}

/* SOBRE - QUALIDADES */
