/* TIPOGRAFIA */

.textoP {
    font-size: 18px;
    font-family: "Poppins", arial;
    color: #fff;
    text-align: left;
    line-height: 25px;
}

.textoP_preto {
    font-size: 18px;
    font-family: "Poppins", arial;
    color: #000;
    text-align: left;
    line-height: 25px;
}

.textoM {
    font-size: 24px;
    font-family: "Poppins", arial;
    color: #fff;
    text-align: left;
    line-height: 37px;
}

.textoM_preto {
    font-size: 24px;
    font-family: "Poppins", arial;
    color: #000;
    text-align: left;
    line-height: 37px;
}

.titulo {
    font-size: 48px;
    font-family: "Poppins", arial;
    color: #fff;
    text-transform: uppercase;
    line-height: 72px;
    letter-spacing: 3px;
    
}

.titulo:after {
    display: block;
    content: "";
    background: #fff;
    height: 5px;
    width: 130px;
}

.titulo_preto {
    font-size: 48px;
    font-family: "Poppins", arial;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 72px;
}

.titulo_preto:after {
    display: block;
    content: "";
    background: #000;
    height: 5px;
    width: 130px;
}

/* TIPOGRAFIA */